.bottom {
  height: 105px;
}

.bottom-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.b-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  padding-top: 30px;
}

.bmc-small-button {
  background-color: rgba(255,221,0,255);
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

/* .b-right{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap:2px;
} 

.br-txt {
  color: rgb(49,50,63);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.br-txt:hover {
  text-decoration: underline;
} */

.x-button {
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
}

.logo-button {
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(49,50,63);
  cursor: pointer;
  width: 65px;
}

.x {
  height: 50px;
  padding-top: 3px;
}

@media (max-width: 560px) {
  .BMC {
    display: none;
  }

  .bmc-small-button {
    display: block;
  }
}
