.gameplay-contents {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.hidden {
  opacity: 0;
}

.visuals-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: center;
  align-items: center;
}

.start-screen {
  background-color: rgb(60, 58, 75); /* Slightly lighter shade of main theme */
  border: 2px solid rgb(40, 39, 52); /* Darker border */
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.game-title {
  font-size: clamp(60px, 6vw, 120px);
  color: white;
  text-shadow: 5px 5px rgb(40, 39, 52);
}

.visuals-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visuals-2 div {
  color: white;
  font-size: clamp(20px, 2vw, 65px);
  text-align: center;
  text-wrap: wrap;
  width: 90%;
  margin: auto;
}

.instruction-screen p {
  margin: 0px;
}

.instruction-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.back, .newplay, .playButton, .game-button {
  height: auto; 
  padding: 0.1em 1em; 
  font-size: 2rem; 
  background-color: #5a5a8e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%; 
  transition: font-size 0.5s ease, padding 0.5s ease; 
}

@media (max-width: 1200px) {
  .back, .newplay, .playButton {
    font-size: 1.7rem; 
    padding: 0.15em 0.8em; 
  }
  .save-score {
    padding: 0.075em 0.3em;
  }
  .play-again {
    padding: 0.05em 0.6em
  }
}

@media (max-width: 480px) {
  .back, .newplay, .playButton {
    font-size: 1.35rem; 
    padding: 0.3em 0.8em; 
  }
}

.back:hover, .newplay:hover, .playButton:hover, .game-button:hover {
  background-color: #4a4a7e; 
  transform: scale(1.05); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.visuals-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 9.5vw;
}

@media (max-width: 700px ) {
  .visuals-3 {
    font-size: 31vw;
  }
}

.visuals-4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-gameplay {
  height: 11%;
  background-color: rgb(70, 70, 100);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 100%; 
  color: white;
  font-size: clamp(35px, 3vw, 55px);
}

.bottom-gameplay{
  flex: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tiles {
  width: 60%;
  height: 95%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  transition: width 0.5s ease, gap 0.5s ease, margin-top 0.5s ease;
  
}

.tiles div{
  border-radius: 20px;
  background-color: rgb(50, 50, 80);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  position: relative;
  cursor: pointer;
}

.tiles img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  object-fit:cover;
  object-position: center;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px ) {
  .tiles {
    width: 70%;
    gap: 6px;
    margin-top: 7px;
  }
}

@media (max-width: 540px ) {
  .tiles {
    width: 97%;
  }
}

.visuals-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inner-visuals-5 {
  width: 60%;
  height: 60%;
  background-color: rgb(70, 70, 100);
  border-radius: 30px;
  transition: width 0.5s ease, height 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  gap: 5%;
}

@media (max-width: 700px) {
  .inner-visuals-5 {
    height: 70%;
    width: 80%;
  }
}

.top-visuals-5 {
  height: 11%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: clamp(35px, 3vw, 55px);
  color: white;
  padding-bottom: 5px;
}

.time {
  font-size: clamp(35px, 3vw, 55px);
  color: white;
}

.input-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin-bottom: 15px;
}

.input-score {
  width: 60%; 
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
  height: 40px; 
  box-sizing: border-box; 
  transition: border-color 0.3s ease;
}

.input-score:focus {
  border-color: #5a5a8e;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.play-again {
  display: block; 
  width: auto; 
  margin: 0 auto;
}

