.gameplay-contents {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.hidden {
  opacity: 0;
}

.visuals-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.playButton {
  width: 20%;
  padding-bottom: 20px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  transition: width 0.5s ease;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@media (max-width: 700px ) {
  .playButton {
    width: 35%;
  }
}

.visuals-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-1 {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}


.visuals-2 img {
  width: 100%;
  height: auto; 
  padding-bottom: 20px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.control-buttons img {
  width: 16%;
  height: auto;
  transition: width 0.5s ease;
  cursor: pointer;
}

@media (max-width: 700px ) {
  .control-buttons img {
    width: 22%;
  }
}


.visuals-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15vw;
}

@media (max-width: 700px ) {
  .visuals-3 {
    font-size: 31vw;
  }
}

.visuals-4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-gameplay {
  height: 11%;
  background-color: rgb(70, 70, 100);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 100%; 
  color: white;
  font-size: clamp(35px, 3vw, 55px);
}

.bottom-gameplay{
  flex: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tiles {
  width: 60%;
  height: 95%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  transition: width 0.5s ease, gap 0.5s ease, margin-top 0.5s ease;
  
}

.tiles div{
  border-radius: 20px;
  background-color: rgb(50, 50, 80);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  position: relative;
}

.tiles img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center
}

@media (max-width: 700px ) {
  .tiles {
    width: 70%;
    gap: 6px;
    margin-top: 7px;
  }
}

@media (max-width: 540px ) {
  .tiles {
    width: 97%;
  }
}