.middle{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  justify-content: center;
  gap: 30px;
  transition: width 0.5s ease;
}

.gameplay {
  background-color: rgb(80, 80, 109);
  border: 2px solid rgb(50,49,63);
  border-radius: 20px;
  aspect-ratio: 1.9 / 1;
  flex: 4;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}

.leaderboard {
  display: flex;
  flex-direction: column;
  background-color: rgb(80, 80, 109);
  border: 2px solid rgb(50,49,63);
  border-radius: 20px;
  flex: 1;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
  aspect-ratio: 5 / 1;
}

@media (max-width: 1500px) {
  .middle {
    flex-direction: column;
  }
  .leaderboard {
    flex: 0 1 auto;
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .middle {
    width: 95%;
  }
}

@media (max-width:700px) {
  .gameplay {
    aspect-ratio: auto;
    height: 350px;
    flex: 0 1 auto;
  }
}

