.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding-top:17px;
  padding-bottom: 10px;
  transition: width 0.5s ease;
  border-bottom: 1px gainsboro solid;
}

@media (max-width: 1400px) {
  .header {
    width: 82.5%;
  }
}

@media (max-width: 650px ) {
  .header {
    width: 95%;
    margin: auto;
    padding-top: 10px;
  }
}

/* @media (max-width: 560px ) {
  .header {
    flex-direction: column;
  }
} */



.h-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.h-div {
  margin-top: 10px; 
  margin-right: 15px;
  border-radius: 100px;
  padding: 8px 9px 5px 9px;
  cursor: pointer;
}

.h-div:hover {
  background-color: rgb(240, 240, 240);
}

.dropdown {
  position: absolute;
  bottom: -87px;
  left: -90px;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  text-wrap: nowrap;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
}

.js-dropdown {
  display: none;
} 

.drop {
  cursor: pointer;
  padding: 3px 7px;
}

.d-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.d-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}



.drop:hover {
  background-color: rgb(230,230,230);
}

.h-left {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 20px;
  cursor: pointer;
}

.MM {
  display: flex;
  flex-direction: column;
}

.memory, .match {
  height: 27px;
  cursor: pointer;
}


